SOAPwsTranslator/src/java/service/documents/srb_eng_esp_dictionary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dictionary">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="word" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="word">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="serbian" type="xs:string" />
				<xs:element name="english" type="xs:string" />
				<xs:element name="spanish" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>